.chroma .c {
    font-family: "Microsoft JhengHei", "Noto Sans TC", "sans-serif";
}

.chroma .ch {
    font-family: "Microsoft JhengHei", "Noto Sans TC", "sans-serif";
}

.chroma .cm {
    font-family: "Microsoft JhengHei", "Noto Sans TC", "sans-serif";
}

.chroma .c1 {
    font-family: "Microsoft JhengHei", "Noto Sans TC", "sans-serif";
}

.chroma .cs {
    font-family: "Microsoft JhengHei", "Noto Sans TC", "sans-serif";
}

.chroma .cp {
    font-family: "Microsoft JhengHei", "Noto Sans TC", "sans-serif";
}

.chroma .cpf {
    font-family: "Microsoft JhengHei", "Noto Sans TC", "sans-serif";
}